.popup-content {
  position: relative;

}

.popup-content img {
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px; 
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.close-button:hover {
  color: rgb(158, 4, 4); 
}
.meal-description {
  text-align: left;
}